@keyframes innlastet{
  0% {background: #050505; }
  50% {background: #5f5f5f; }
  100% {background: $sort; }
}
body{
  background: $sort;
  color: $hvit;
  margin: 0 !important;
  padding: 0;
}
body.js{
  background: $sort;
}
body.nylastet{
  animation: 1s innlastet ease-in-out 0s;
}
body.innlastet{
  background: $sort;
}

main{
  width: 100%;
}