// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$sort: #141414;
$hvit: #ffffff;
$white: $hvit;

$brand-primary:         $hvit;

$logo_1: #5b152b;
$logo_2: #b72c19;
$logo_3: #fe6f48;